@import url("https://fonts.googleapis.com/css2?family=Poppins&ddisplay=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");
html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    font-size: 22px;
    background: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    padding: 10px;
  }
  @keyframes changeColor {
    0% {
      color: red;
    }
    14% {
      color: orange;
    }
    28% {
      color: yellow;
    }
    42% {
      color: green;
    }
    57% {
      color: blue;
    }
    71% {
      color: indigo;
    }
    85% {
      color: violet;
    }
    100% {
      color: red;
    }
  }
  
  .heartbeat-text {
    font-size: 18px;
    animation: changeColor 8s linear infinite;
    margin-top: 20px;
  }
  @keyframes changeLinkColor {
    0% {
      color: gray;
    }
    50% {
      color: black;
    }
    100% {
      color: gray;
    }
  }
  
  .heartbeat-text a {
    animation: changeLinkColor 4s linear infinite;
  }
.fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
}

.fundo video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }

texto{
    color: #ADD8E6;
}
  button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
  }
  
  button ion-icon {
    color: #333;
    font-size: 28px;
    transition: color 0.3s ease;
  }
  
  button:hover ion-icon {
    color: #ff5555;
  }
  
  button:focus {
    outline: none;
  }
main{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    align-items: center;
    height: 100vh;
    padding: 20px;
    left: 20px;
}
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    border-color: #ffffff63;
    color: #ffffffc0;
    font-size: 15px;
}
.box{
    width: 65px;
    height: 68px;
    display: flex;
    padding: 5px;
    margin: 0.6rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.box:hover{
    width: 200px;
    background: #3a0086cf;
    border-radius: 35px;
    box-shadow: 0 0 50px #33006a7c;
    background-color: yellow; /* Aplica o amarelo quando o mouse passa por cima */
    color: black; /* Muda a cor do texto para preto para manter a legibilidade */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra quando o mouse passa por cima */
}
.box:nth-child(2):hover{
    background: #f10000;
    box-shadow: 0 0 50px #ff00007e;
}
.box:nth-child(3):hover{
    background: #1877f2;
    box-shadow: 0 0 50px #1876f285;
}
.box:nth-child(4):hover{
    background: #1100ff;
    box-shadow: 0 0 50px #0026fe80;
}
.box:nth-child(5):hover{
    background: #8c00ff;
    box-shadow: 0 0 50px #9100f280;
}
.navbar {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .navbar a {
    color: yellow; /* Aplica a cor amarela aos links */
  }
  .box {
    width: 65px;
    height: 68px;
    display: flex;
    padding: 5px;
    margin: 0.6rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .4s ease;
  }
.navbar p{
    transform: translate(60px);
}
.box .icon{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .4s ease;
}
.instagram{
    background-color: #ff00c8;
}
.discord{
    background-color: #0f55d9;
}
.twitter{
    background-color: #1da1f2;
}
.youtube{
    background-color: #ec0606;
}
.twitch{
    background-color: #7200e4;
}
.box:hover .icon{
    box-shadow: 0 0 20px rgba(0,0,0,0.26);
    background: black; /* Altera o fundo do ícone para preto */
    color: yellow;
}
.navbar .box {
    /* Adicione margem superior para afastar os botões */
    margin-top: 10px;
  }